body {
    background: linear-gradient(#6196ba 50%, #a3ccf0 50%);
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    color: #e7ecef;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    background-color: #6196ba;
    font-weight: bold;
}

h1 {
    font-size: 12vw;
    color: #ffffff;
}

.Settings {
    padding-top: 1.5vh; 
    width: 7vw; 
    height: 7vw; 
 }

h2 {
    font-size: 5vw;
    color: #2D2D2D;
}

.Brain {
    padding-top: 0.7vh;
    width: 5vw;
    height: 5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2vh;
    text-align: center;
    padding-top: 3vh;
}

/* .column {
    padding: 0px;
    border-radius: 15px;
} */

.box {
    background-color: #264c77;
    color: white;
    padding: 1.5vh;
    border-radius: 1vh;
    margin-bottom: 1.5vh;
    width: 35vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .Box-heading {
    font-size: 30px;
    color: #ffffff;
} */

.Box-text {
    font-size: 3.2vw;
    color: #ffffff;
}

.input-field {
    margin-top: 8vh;
    border: 1.5px solid #8b8c89;
    border-radius: 1vw;
    padding: 4vw;
    width: 74vw;
    height: 6vh;
    font-size: 4vw;
    resize: none;
    overflow-y: hidden;
}
  
  .input-field:focus {
    outline: none;
    border: 1px solid #6196ba;
}
  
.input-button {
    background-image: url("../images/Submit-arrow.png");
    background-size: cover;
    background-position: center;
    width: 5.5vw;
    height: 5.5vw;
    border: none;
    margin-left: -9.2vw;
    margin-bottom: 4.2vh;
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
}

.response-box {
    display: none;
    background-color: #274C77;
    opacity: 0.95;
    padding: 0.5vh 0 0 5vw;
    border-radius: 1vw;
    height: 42vh;
    width: 77vw;
    margin-top: 2vh;
    font-size: 4vw;
  }

.beta {
    font-size: 4vw;
    color: black;
    /* margin-left: 5px; */

  }
