body {
    /* background: linear-gradient(#6196ba 50%, #a3ccf0 50%); */
    background: #6196ba;
    font-family: "Oswald", sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    color: #e7ecef;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 18vh;
    font-weight: bold;
}

h1 {
    font-size: 12vw;
    color: #ffffff;
}

.header-link {
    text-decoration: none;
    color: black;
    -webkit-tap-highlight-color: transparent;
}
  
.header-link:hover {
    text-decoration: none;
}
  
.header-link:active {
    text-decoration: none;
}
  
.header-link:focus {
    outline: none;
}  

.menu-link {
    -webkit-tap-highlight-color: transparent;
}

.Settings {
    padding-top: 1.5vh; 
    width: 7vw; 
    height: 7vw; 
 }

h2 {
    font-size: 5vw;
    color: #2D2D2D;
}

.Brain {
    width: 5.5vw;
    height: 5.5vw;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.8vh;
    text-align: center;
    padding-top: 3vh;
}

.box {
    background-color: #264c77;
    color: white;
    padding: 1vh;
    border-radius: 1vh;
    margin-bottom: 2vh;
    width: 38vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box-text {
    font-size: 3.6vw;
    color: #ffffff;
}

.input-field {
    margin-top: 8vh;
    border: 1.5px solid #8b8c89;
    border-radius: 1vw;
    padding: 4vw;
    width: 72vw;
    height: 2.8vh;
    font-size: 4vw;
    resize: none;
    position: relative;
    z-index: 1;
    padding-right: 8vw;
    /* overflow-y: hidden; */
}
  
  .input-field:focus {
    outline: none;
    border: 1px solid #8b8c89;
}
  
.input-button {
    background-image: url("../images/Submit-arrow.png");
    background-size: cover;
    background-position: center;
    width: 5.5vw;
    height: 5.5vw;
    border: none;
    margin-left: -8.5vw;
    margin-bottom: 6vh;
    cursor: pointer;
    background-color: transparent;
    vertical-align: middle;
    z-index: 2;
    position: relative;
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

.response-box {
    display: none;
    background-color: #274C77;
    opacity: 0.95;
    padding: 1vh 1vh 1vh 1.5vh;
    border-radius: 1vw;
    height: 42vh;
    width: 79vw;
    margin-top: 2vh;
    font-size: 4vw;
}

.beta {
    font-size: 4vw;
    color: black;
  }
